.grid{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid > li{
  margin: 8px;
  padding: 0;
  width: 150px;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}
.item{
  width: 100%;
	height: auto;
}
.item > img{
	width: inherit;
	height: 210px;
}
.item > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 5px 0 7px 0; padding: 0 3px 0 3px;
}
.grid > li:nth-child(3n+1){
  display: none;
}